build/
.venv/
.vscode/
output/
.cache/
.clangd-cache/
compile_commands.json
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
*.elf
*.hex
*.bin
*.o
*.a
*.so
.DS_Store
*.user
CMakeUserPresets.json
data/NEU-CLS/
data/sorter-yolo/images/
data/sorter-yolo/labels/
data/*.zip
data/*.rar
*.pt
runs/
